.containerItems{
    align-items: center;
    display: flex;
    gap: .2em;
}

.containerItems p{
    font-size: .9em;
}

#quantity{
    text-align: center;
    font-size: .8em;
    width: 1.5em;

    border: 0;
}

@media screen and (min-device-width : 365px) and (max-device-width : 500px) {
    .containerItems p{
        font-size: .5em;
    }
    .second {
        height: auto;
        width: calc(100% - 50px);
    }
    label {
        font-size: .55em;
        margin: .2em 0;
    }

    .second button{
        width: calc(100% - 10px);;
    }
}