.containerItems{
    margin: .2em 0;
}

.firstContainerItems{
    align-items: center;
    display: flex;
    gap: .5em;
    margin: .5em;
}

.firstContainerItems input {
    border: 2px solid #ffffff;
    border-radius: 2px;
    color: #ffffff;
    background-color: #A7848B;
}

.firstContainerItems p {
    font-size: .9em;
}

.secondContainerItems{
    align-items: center;
    justify-content: space-between;
    display: flex;
    gap: .2em;

    margin: .5em;
}

.secondContainerItems button{
    background-color: #A7848B;
    border: 0;
    color: #ffffff;
    width: calc(100% - 100px);
    font-size: calc(100% - 5px);
    font-family: 'Montserrat', sans-serif; ;
}

.secondContainerItems p{
    font-weight: 600;
    font-size: .9em;
}

#amount{
    text-align: center;
    font-size: .8em;
    width: 1.5em;

    border: 0;
}

@media screen and (min-device-width : 365px) and (max-device-width : 500px) {
    .containerItems p{
        font-size: .5em;
    }
    .second {
        height: auto;
        width: calc(100% - 50px);
    }
    label {
        font-size: .55em;
        margin: .2em 0;
    }

    #amount {
        width: calc(100% - 5px);
    }

    .second button{
        width: calc(100% - 10px);;
    }
}

@media screen and (min-device-width : 1700px) and (max-device-width : 2100px) {
    .secondContainerItems button{
        width: calc(100% - 100px);
        font-size: calc(100% - 5.5px);
    }
}
@media screen and (min-device-width : 2000px) {
    .secondContainerItems button{
        width: calc(100% - 150px);
        font-size: calc(100% - 5px);
    }
}
