.containerItems{
    align-items: center;
    display: flex;
    gap: .2em;
}

.containerItems p{
    font-size: .9em;
}

#amount{
    text-align: center;
    font-size: .8em;
    width: 1.5em;

    border: 0;
}