.banner {
  width: 100%;
  height: 250px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner img {
 
 width: 50%;
 height: auto;
 border-radius: 24rem;


}

.nome-loja {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: rgb(225, 52, 196);
  font-family: "Franklin Gothic Medium";
  font-size: 100px;
  animation: piscar 1s infinite;
}

@keyframes piscar {
  0% {
    color: rgb(225, 52, 196);
  }
  50% {
    color: rgb(30, 133, 198)
  }
  100% {
    color: rgb(185, 225, 52)
  }
}

.subtitulo {
  text-align: center;
  font-size: 30px;
  color: rgb(225, 52, 196);
  font-family: "Franklin Gothic Medium";
  animation: piscar 1s infinite;
}
@keyframes piscar {
  0% {
    color: rgb(225, 52, 196);
  }
  50% {
    color: rgb(30, 133, 198)
  }
  100% {
    color: rgb(185, 225, 52)
  }}