/* .App {
    background-color: rgb(116, 163, 178);
} */

.catalogo {
  display: grid;
  text-align: center;
  list-style-type: none;
  font-family: monospace;
  font-size: 20px;
}

.catalogo img {
  border: 4px solid rgb(216, 89, 180);
  border-style: groove;
  border-radius: 2rem;
  gap: 10px;
}

.lista-produtos {
  display: flex;
  flex-direction: column;
  font-family: fantasy;
  color: blueviolet;
  list-style-type: none;
}

.ordernar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ordernar-container p {
  padding-right: 8px;
  margin: 0;
}
