.containerCart{
    display: flex;
    flex-direction: column;

    padding: .5em;
    max-width: 20em;
}

.containerCart .first{
    align-items: center;
    display: flex;
    justify-content: space-between;

    margin: 1em ;
}

.first h1{
    font-size: 1.3em;
}

.containerCart .second{
    display: flex;
    flex-direction:column ;

    background-color: #B8CABE;
    border-radius: 20px;

    
    padding: .55em;
}

@media screen and (min-device-width : 365px) and (max-device-width : 500px) {
    .first h1 {
        font-size: .8em;
    } 
}

