/* width */
::-webkit-scrollbar {
  width: 2px;
}
/* track */
::-webkit-scrollbar-track {
  background: transparent;
}
/* handle */
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:horizontal,
::-webkit-scrollbar-thumb:vertical {
  background: #fff;
}
/* kds-background */
html {
  background-color: #fff; /*#222244;*/
}
