
  
.service__item{
    padding: 20px;
    background-color: rgb(242, 244, 247);
    border: 1px solid rgba(226, 224, 224, 0.905);
    display: flex;
    align-items: center;
    column-gap: 1rem;
    border-radius: 5px;
    cursor: grab;
    height: 180px;
    max-width: 260px;
    justify-content: space-around;
    margin: 0px 100px 0px 230px;
    margin-block-start: 0.1rem;
    float:left;
    margin-inline-start: 100px;
    margin-inline-end: 49px;
}

.service__item span i{
  font-size: 1.5rem;
  background-color: rgb(84, 222, 250);
  border-radius: 50px;
  color: rgb(254, 254, 255);
  font-weight: 400 !important;
  padding: 12px;
}

.service__item h2{
  color: rgb(15, 4, 85);
  font-size: 1.2rem;
  font-weight: 650;
}

.service__item p{
  margin-top: 5px;
  font-size: 1rem;
  color: #222;
}

@media only screen and (max-width: 992px){
  .service__item span i{
    font-size: 1.4rem;
    padding: 13px;
  }
  .service__item h2{
    font-size: 1rem;
  }

  .service__item{
    padding: 12px;
    margin: 8px 80px 15px 120px;
    margin-bottom: 1.5rem;
  }
}

@media only screen and (max-width: 768px){
  .service__item{
    margin: 12px 8px 12px 68px;
    padding: 25px;
  }

  .service__item span i{
    font-size: 1.1rem;
    padding: 10px;
  }
}

@media only screen and (max-width: 576px){
  .service__item{
    padding: 20px;
    margin-left: 35%;
  }
}
