

/**
 * CONTENTS
 *
 * SETTINGS
 * Global...............Globally-available variables and config.
 *
 * TOOLS
 * Mixins...............Useful mixins.
 *
 * GENERIC
 * Normalize.css........A level playing field.
 * Box-sizing...........Better default `box-sizing`.
 *
 * BASE
 * Headings.............H1–H6 styles.
 *
 * OBJECTS
 * Wrappers.............Wrapping and constraining elements.
 *
 * COMPONENTS
 * Page-head............The main page header.
 * Page-foot............The main page footer.
 * Buttons..............Button elements.
 *
 * TRUMPS
 * Text.................Text helpers.
 */

 .b{
    height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }
  
.c{
    background-color: #d4d4d4;
    width: 100%;
    padding: 20px 20px 0 20px;
  }
  
.d{
    background-color: #dedede;
    height: 25%;
    width: 100%;
    margin-top: 20px;
    padding-top: 2%;
    padding-left: 1%;
  }
  