.container{
    width: 100vw;
    height: 50vh;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    background-color: white;
    background-image: url(./../../img/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    color: orange;

 }
 
 .container > h3{
     display: flex;
     flex-direction: row;
     
 }

 .sobre{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     left: 0;
     margin-top: 20px;
     cursor: pointer;
 }
 .sobre > p{
     color: white;
 }
 .sobre > p:hover{
     color: chocolate;
 }
 
 .suport{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-top: 20px;
     cursor: pointer;
     

 }
 
 .suport > p{
     color: white;
     
 }
 
 .suport > p:hover{
     color: chocolate;
 }
 
 .redes{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-top: 20px;
 }
 
 .icones{
     cursor: pointer;
     font-size: 2.5rem;
     color: white;
 }
 
 .icones:hover{
     color: chocolate;
 }
 


 @media screen and (min-device-width : 300px) and (max-width: 600px){
    .container{
      gap: 2px;
      margin: 0 auto;
      padding: 8px;
      width: 100%;
     }
    .sobre{
        display: flex;
        justify-content: center;
        text-align: center;
        width: 60px;
        margin-left: 10px;
    }
    .suport{
        display: flex;
        justify-content: center;
        width: 60px;
    }
    .redes{
        justify-content: center;
        display: flex;
        text-align: center;
        width: 60px;
    }
}
