@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
  h2{
      font-size: 18px;
      
  }
  footer{
  
      font-size: 1.2em;
      padding-bottom: 2vh;
      padding-left: 4vw;
      
  }
  header{
      font-size: 14px;
      
  }
  ul{
  width: 50vw; 
  padding-left: 29vw;
  
      
  }
  article{
      
      padding-left: 7vw;
      
  }
  
  aside{
      font-size: 16px;
      margin-top: -2em;
      width: 14vw; 
  }
  
  #botao{
      font-size: 20px;
      width: auto; 
     
  
   }
   
   #botao2{
   
   width: auto; 
   margin-top: 30px;
   font-size: 20px;
   
   
   }
  
  
  
  
  }
     
  @media screen and (min-device-width : 481px) and (max-device-width : 800px){
  
  h2{
      font-size: 20px;
          
  }
  footer{
      font-size: 1.25em;
      padding-left: 4vw;
      padding-bottom: 2vh;    
          
   }
  header{
      font-size: 22px;
      padding-left: 2vw;
  }
  ul{
      padding-left: 29vw;
      
  }
  article{
      
      padding-left: 7vw;
  }
  
  
  aside{
       font-size: 20px;
       margin-top: -2em;
       width: 14vw; 
  }
          
  #botao{
      font-size: 20px;
      width: auto; 
   }
   
   #botao2{
   
   width: auto; 
   margin-top: 30px;
   font-size: 20px;
   
   
   }
  
  }
  
  @media screen and (min-device-width : 801px) and (max-device-width : 1200px){
  
      h2{
          font-size: 20px;
              
      }
      footer{
          font-size: 1.25em;
          padding-left: 4vw;
          padding-bottom: 2vh;
          
              
              
       }
      header{
          font-size: 26px;
          padding-left: 2vw;
      }
      section{
          padding-left: 17vw;
          
      }
      article{
          
          padding-left: 8vw;
      }
      
      
      aside{
           font-size: 24px;
           margin-top: -6em;
      }
      
      ul{
          padding-left: 12vw;
      }
      
      #botao{
          font-size: 20px;
          width: auto; 
       }
       
       #botao2{
       
       width: auto; 
       margin-top: 30px;
       font-size: 20px;
       }
      
      }
  