.Categorias{
    width: 100vw;
    height: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    height: 80px;
    flex-wrap: wrap;
    padding-top: 10px;

}

.selecionar{
    width: 10vw;
    height: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    min-width: 130px;

}

.precoInformados{
    border-radius: 10px;
    border-left: solid black 2px;
    width: 7vw;
    min-width: 120px;

}

.Opcao{
    text-align: center;
    margin-top: 5px;
}




@media screen and (min-device-width : 300px) and (max-width: 550px){
    .Categorias{
        width: 100%;
        height: 20vh;
        justify-content: center;
        margin-right: 0;
        
    }
    .precoInformados{
        margin: 0 auto;
    }
}


