#search-section{
    background-color: #ECEEF0;
    padding: 20px 30px;
}

#search-section-title{
    margin-bottom: 10px;
}

.input-div{
    display: flex;
    align-items: center;
    padding: 10px 10px;
    background-color: white;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 2px;
}

.input-div:focus-within{
    outline: 1px solid blue;
}

.icon{
    width: 1em;
    height: 1em;
}

.input{
    background-color: transparent;
    display: inline-block;
    border-radius: 1px;
    border: none;
    margin-left: 10px;
    font-size: 16px;
    width: 100%;
}

.input:focus{
    outline: none;
}

.search-label{
    display: block;
    font-size: 14px;
}

#category-search{
    border: none;
    font-size: 16px;
}

.checkbox-input{
    margin-right: 5px;
}

.small-button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #363636;
    color: white;
    margin-top: 10px;
    cursor: pointer;
    transition: ease .5s all;
}

.small-button:hover{
    background-color: #090000;
    color: #A8CDF3;
}

.small-button:active{
    background-color: white;
    color: #363636;
}