.fundo{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 15vh;
    background-color: white;
    background-image: url(./../../img/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;


}

.Container{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    width: 25vw;
}
.Texto{
    color: black;
    justify-content: center;
    margin-left: 20px;
    min-width: 80px;
}

.Logo{
    margin-left: 60px;
    width: 100px;
    height: 100px;
    color: white;
}

/* Pesquisa */

.pesquisar{
    background-color: #f7f7f7;
    width: 50%;
    height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: left;
    /* padding-left: 10px; */
    color: darkgray;
    border-radius: 10px;
    margin-left: 40px;
    
    
}
.pesquisarTexto{
    margin-left: 10px;
    font-size: 1.1rem;

}
.lupa{
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 10px 0 0 10px;
    height: 100%;
    width: 20%;
    cursor: pointer;
    
}

.iconeLupa{
    font-size: 1.5rem;
}

.pesquisarForm{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
    height: 100%;

}

input{
    flex-grow: 1;
    background-color: #f7f7f7;
    border-radius: 0 10px 10px 0;
    border-left: none;
    padding: 10px;
}



/* Menu sandwich: */

.MenuButton{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 32px;
    right: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}

.Linha{
    display: block;
    width: 100%;
    height: 5px;
    background-color: white;
} 

.menuSanduwich{
    display: none;
}

.show{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    position: absolute;
    height: 30vh;
    top: 80px;
    right: 0;
    background-color: #334455; 
    flex-direction: column;
    gap: 1rem;
    padding: 20px;
    transition: 0.5s;
    border: solid 2px #000000;
    z-index: 1;
    background-image: url(./../../img/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.show .MenuButton{
    color: white;
}

.LinksSandWich{
    background-color: #334455;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: white;
    border: solid 2px #000000;

}


@media screen and (min-device-width : 300px) and (max-width: 550px){
    .Logo{
        margin-left: 40px;
        width: 50px;
        height: 50px;
    }
    .pesquisar{
        margin-left: 10px;
        width: 100px;
        height: 30px;
    }

    .MenuButton{
        top: 32px;
        right: 10px;
        width: 20px;
        height: 30px;
    }
    .lupa{
        height: 30px;
        width: 30px;
    }

}

@media screen and (min-device-width : 550px) and (max-width: 800px){
    .MenuButton{
        top: 32px;
        right: 10px;
        width: 20px;
        height: 30px;
    }
}

@media screen and (min-device-width : 801px) and (max-width: 1200px){
    .MenuButton{
        top: 32px;
        right: 10px;
        width: 40px;
        height: 40px;
    }
}
