.filters {
    align-items: center;
    display: flex;
    flex-direction: column;

    padding: 2em 1em;
    max-width: 30vw;
}

.filters>.container {
    display: flex;
    flex-direction: column;
    margin: 1.5em 0 0 0;
}

label {
    font-size: 1em;
    margin: .2em 0;
}

.filters input {
    background: #B8CABE;
    border-radius: 20px;
    border: none;

    height: 2.5vh;
    width: 11.25em;
}

/*Responsividade*/
@media screen and (min-device-width : 365px) and (max-device-width : 500px) {
    .filters> h2{
        font-size: 1em;
    }
    .filters {
        padding: 1em;
        max-width: 30vw;
    }
    label {
        font-size: .55em;
        margin: .2em 0;
    }

    .filters  input {
        width: calc(100% - 5px);
    }
}