.carrinho{
    background-color: rgb(220,220,220);
    padding: 10%;    

}

.itemCarrinho{
    display: grid;
    grid-template-columns: 3fr 1fr;            
}

.itemsCarrinho{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-top: 2px solid black ;
    padding-top: 1rem;
    margin-top: 1rem;
}
.removeButton{
    background-color: rgb(255, 119, 119);
    border: none;
    font-weight: bold;
    padding: 5px;
}

.removeButton:active{
    background-color: rgb(129, 54, 54);
}

.carrinhoVazio{
    color: rgb(102, 102, 102);
    font-style: italic;
    text-align: center;
}