@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-image: url(assets/img/background-page.jpg);
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    min-height: 100vh;
}
/*Header ------*/

header {
    align-items: center;
    display: flex;

    height: 12vh;
}

header h1 {
    font-size: 2.5em;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 100;
    color: #fff;

    margin: 5em;
}

/*Main -----*/
main {
    align-items: center;
    display: flex;
    justify-content: center;
    height: fit-content;
}

.main-container {
    border: 1px solid #fff;

    display: grid;
    grid-template-columns: 1fr 60% 1fr;

    width: 80vw;

    margin: 1em;
}

/*Footer -----*/
footer {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 5vh;

}

footer p {
    color: #fff;
    font-weight: 600;
}

h1,
h2,
p {
    color: #fff;
}

@media screen and (min-device-width : 365px) and (max-device-width : 500px) {
    .main-container {
        grid-template-columns: 25% 50% 25%;
        margin: .5em;
    }
}

/*Responsividade*/
@media screen and (min-device-width : 1700px) and (max-device-width : 3000px) {
    .main-container {
        grid-template-columns: 1fr 65% 1fr;
        width: 70vw;
    }
}

@media screen and (min-device-width : 3000px) {
    .main-container {
        grid-template-columns: 1fr 65% 1fr;
        width: 55vw;
    }
}