@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Montserrat:wght@400;600&display=swap');

/*Link dos CSS*/
@import url(components/Filters/filters.css);
@import url(components/Home/home.css);
@import url(components/ProductCard/ProductCardStyle.css);
@import url(components/Cart/cart.css);
@import url(components/Items/items.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: #B88F93;
    font-family:'Montserrat', sans-serif; 
    font-size: 1em;
}

/*Header ------*/

header{
    align-items: center;
    display: flex;

    height: 12vh;

    background-color: #A7848B;
}

header h1{
    font-size: 2.5em;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 100;
    color: #fff;

    margin: 5em;
}

/*Main -----*/
main{
    align-items: center;
    display: flex;
    justify-content: center;
    height: auto;
}

.main-container{
    box-shadow: 5px 5px 20px rgba(33, 33, 33, 0.789);
    border: 1px solid black;

    display: grid;
    grid-template-columns: 1fr 60% 1fr;

    width: 80vw;
    height: auto;

    margin: 1em;
}

/*Footer -----*/
footer{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 5vh;

    background-color: #B8CABE;
}

footer p{
    color: #A7848B;
    font-weight: 600;
}

@media screen and (min-device-width : 365px) and (max-device-width : 500px) {
    .main-container{
        grid-template-columns: 25% 50% 25%;
        margin: .5em;
    }
}

/*Responsividade*/
@media screen and (min-device-width : 1700px) and (max-device-width : 3000px) {
    .main-container{
        grid-template-columns: 1fr 65% 1fr;
        max-width: 60vw;
    }
}

@media screen and (min-device-width : 3000px) {
    .main-container{
        grid-template-columns: 1fr 65% 1fr;
        max-width: 50vw;
    }
}