.card-produto {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-produto img {
    width: 200px;
    height: 200px;
}

.card-texto {
    flex-direction: column;
    padding: 16px;
    font-size: 0.8rem;
    text-align: center;
}