.home{
    display: flex;
    flex-direction: column;

    height: 100vh;
    width: auto;

    background-color: #B8CABE;
    border: 1px solid black;

    padding: 1em;
}

.containerOrdenar{
    padding: .5em;
}

.card{
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
    gap:1em 2em;
    justify-content: center;
}