.home{
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    background-color: #B8CABE;
    border-right: 1px solid black;
    border-left: 1px solid black;

    padding: 1em;
}

.containerOrdenar{
    padding: .5em;
}

.home select{
    background: #A7848B;
    border-radius: 20px;
    border: none;

    height: 3vh;
    width: 11.25em;

    padding: .5em;
    margin: .5em;

    font-family:'Montserrat', sans-serif; 
    font-size: .7em;
    font-weight: 600;
}

.home option{
    font-weight: 600;
}

.card{
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
    gap:1em 2em;
    justify-content: center;
}