body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3{
  margin: 0.5rem 0;
}

h1{
  font-size: 1.5rem;
  color: black;
}

h2{
  font-size: 1.2rem;
}

h3{
  font-size: 1rem;
}

a{
  text-decoration: none;
}

.row{
  display: flex;
  justify-content: space-between;
}

.col-1{
  flex: 1;
}

.col-2{
  flex: 2;
}

.block{
  background-color: lightslategray;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

.row.center{
  align-items: center;
}

img.imagem{
  max-height: 8rem;
}

button{
  font-size: 0.8rem;
  padding: 0.2rem;
  margin: 0.1rem;
  border-radius: 0.5rem;
  border: 0.1rem black solid;
  background-color: white;
  width: 100%;
  cursor: pointer;
}

button.add{
  background-color: white;
  width: 1.5rem;
}

button.remove{
  background-color: white;
  width: 1.5rem;
}

button.lote{
  background-color: white;
  border: none;
  width: 1.5rem;
  color: black;
}

text.right{
  text-align: right;
}

.filter{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  border-bottom: .1rem #c0c0c0 solid;
}

footer{
  display: grid;
  justify-items: center;
}