.carrinho{
    border: 1px solid black;
    padding: 8px;
}

.carrinho .produtos-carrinho{
    display: grid;
    gap: 8px;
}

.carrinho .produtos-carrinho .itens{
    display: grid;
    grid-auto-flow: column;
    gap: 4px;
    -webkit-box-align: center;
    align-items: center;
}