.struct{
  display: flex;
  width: 100%;

}
nav{
  background-color: aquamarine;
  border: 1px solid coral;
  flex-basis: 200px;

  /* flex-grow: 1 */
}
main{
  display: flex;
  min-height: 80%;
  background-color: rgb(127, 185, 255);
  border: 1px solid blue;
  flex-grow: 2

}
aside{
  background-color: rgb(212, 127, 255);
  border: 1px solid rgb(32, 0, 128);
  flex-grow: 1
}

footer{
  background-color: rgb(255, 127, 229);
  border: 1px solid rgb(128, 0, 128)

}