body {
  font-family: 'Helvetica';
}
h1,
h2,
h3 {
  margin: 0.5rem 0;
}

.block {
  background-color: green;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.2rem;
}
h3 {
  font-size: 1rem;
}


.row.center {
  align-items: center;
}
.col-1 {
  flex: 1;
}
.col-2 {
  flex: 2;
}

a {
  text-decoration: none;
}

.text-right {
  text-align: right;
}

button {
  font-size: 0.8rem;
  padding: 0.2rem;
  margin: 0.1rem;
  border-radius: 0.5rem;
  border: 0.1rem black;
  background-color: blueviolet;
  width: 100%;
  cursor: pointer;
}
button.add {
  background-color: yellowgreen;
  width: 1.5rem;
}
button.remove {
  background-color:aquamarine;
  width: 1.5rem;
}
button.badge {
  background-color: blue;
  border: none;
  color: white;
  width: 1.5rem;
}


.row {
  display: flex;
  justify-content: space-between;
}


img.small {
  max-height: 8rem;
}